# Python virtual environment
venv/

# Byte-compiled files
__pycache__/
*.pyc
*.pyo

# Environment files
.env

rasa-student-bot/models/
rasa-student-bot/.rasa/
rasa-student-bot/.env
rasa-student-bot/.env.example
